<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" 
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    name="wheelchair_iaslab_sensors">

    <xacro:include filename="wheelchair_iaslab.xacro" />  

    <xacro:property name="xpos"    value ="0.346609" /> 
    <xacro:property name="ypos"    value ="0.295568" />
    <xacro:property name="zcamera" value ="0.58" /> 
    <xacro:property name="zlaser"  value ="0.66" /> 

    <!-- Laser Hokuyo properties -->
    <xacro:property name="laser_length" value="0.04"  />
    <xacro:property name="laser_radius" value="0.035" />
    <xacro:property name="laser_mass"   value="0.160" />

    <!-- Laser Hokuyo-->
    <link name="$(arg prefix)hokuyo_laser_link_left" >
        <visual>
            <geometry>
                <cylinder length="${laser_length}" radius="${laser_radius}"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <cylinder length="${laser_length}" radius="${laser_radius}"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="${laser_mass}" />
            <xacro:cylinder_inertia m="${laser_mass}" r="${laser_radius}" h="${laser_length}" />
        </inertial>
    </link>

    <joint name="$(arg prefix)base_laser_joint_left" type="fixed">
        <axis xyz="0 1 0"/>
        <parent link="$(arg prefix)base_footprint"/>
        <child link="$(arg prefix)hokuyo_laser_link_left"/>
        <origin xyz="${xpos}  ${ypos}  ${zlaser}" rpy="0 0 0" /> 
        <axis xyz="0 1 0"/>
    </joint>


    <link name="$(arg prefix)hokuyo_laser_link_right" >
        <visual>
            <geometry>
                <cylinder length="${laser_length}" radius="${laser_radius}"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <cylinder length="${laser_length}" radius="${laser_radius}"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="${laser_mass}" />
            <xacro:cylinder_inertia m="${laser_mass}" r="${laser_radius}" h="${laser_length}" />
        </inertial>
    </link>

    <joint name="$(arg prefix)base_laser_joint_right" type="fixed">
        <parent link="$(arg prefix)base_footprint"/>
        <child link="$(arg prefix)hokuyo_laser_link_right"/>
        <origin xyz="${xpos} -${ypos} ${zlaser}" rpy="0 0 0" /> 
        <axis xyz="0 1 0"/>

    </joint>
    
    <link name="$(arg prefix)imu_link" >
        <visual>
            <geometry>
                <cylinder length="${laser_length}" radius="${laser_radius}"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <cylinder length="${laser_length}" radius="${laser_radius}"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="${laser_mass}" />
            <xacro:cylinder_inertia m="${laser_mass}" r="${laser_radius}" h="${laser_length}" />
        </inertial>
    </link>

    
    <joint name="$(arg prefix)imu_link_j" type="fixed">
	<parent link="$(arg prefix)base_footprint"/>
        <child link="$(arg prefix)imu_link"/>
         <origin xyz="0.0  0.0  0.05" rpy="0 0 0" />
        <axis xyz="0 1 0"/>
    </joint>

    <!-- Real sense stereo camera-->
    <xacro:arg name="use_nominal_extrinsics" default="false" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

    <xacro:sensor_d435 name="camera_left" parent="$(arg prefix)base_footprint">
        <origin xyz="${xpos} ${ypos} ${zcamera}" rpy="0 0 0" />
    </xacro:sensor_d435> 

    <xacro:sensor_d435 name="camera_right" parent="$(arg prefix)base_footprint">
        <origin xyz="${xpos} -${ypos} ${zcamera}" rpy="0 0 0"/>
    </xacro:sensor_d435> 

</robot>




