<?xml version="1.0"?>
<launch>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find wheelchair_iaslab_description)/urdf/wheelchair_iaslab_sensors.xacro"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        <param name="use_tf_static" value="false"/>
	    <param name="publish_frequency" type="double" value="100.0"/>
        <param name="ignore_timestamp" value="false" />
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

</launch>
